.bash_profile_gitignore

## Claude files that shouldn't be readily deleted, and are possibly worth archiving, but not worth committing
claude/file-history
claude/plans
claude/plugins
claude/projects/*/*.jsonl
claude/projects/**/subagents
claude/todos
claude/history.jsonl
