[user]
	name = Jordan Moldow
	email = jmoldow@alum.mit.edu
[color]
  diff = always
  grep = auto
	status = auto
	branch = auto
  interactive = auto
  ui = auto
[core]
	editor = /usr/bin/vim
	pager = less -R
	fsmonitor = false
	untrackedcache = false
[grep]
	lineNumber = true
[log]
	decorate = full
[pager]
	status = true
	diff = true
	grep = true
	log = true
[fetch]
  prune = true
[init]
	defaultBranch = main
[push]
  default = simple
[rebase]
  autostash = true
  autosquash = true
[alias]
  log-all = log --all --oneline --graph --decorate=full
  log-graph = log --oneline --graph --decorate=full
  ignore = update-index --assume-unchanged
[gc]
  auto = 500
  pruneexpire = 1.weeks.ago
  reflogexpire = 21 days
  reflogexpireunreachable = 21 days
  aggressiveDepth = 20
  aggressiveWindow = 100
[feature]
  manyFiles = false

[diff "scala"]
  xfuncname = "^(\\\\(sub)*section\\{.*)$"

[diff "jmoldowtxt"]
  wordRegex = "[-a-zA-Z0-9']+|[^ a-zA-Z]"
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
